*.meta
VRCExpressionsMenu 1.asset
VRCExpressionParameters 1.asset
ToggleAnimations/OnSuit.anim
ToggleAnimations/OnBody2.anim
ToggleAnimations/OnBody.anim
ToggleAnimations/OffSuit.anim
ToggleAnimations/OffBody2.anim
ToggleAnimations/OffBody.anim
ToggleAnimations/OffToggle Name.anim
ToggleAnimations/OffToggle Name1.anim
ToggleAnimations/OnToggle Name.anim
ToggleAnimations/OnToggle Name1.anim
VRCExpressionsMenu 2.asset
VRCExpressionsMenu 3.asset
